<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<body>
<div th:fragment="content">
    <div class="container">
        <img th:src="@{/resources/images/exceptionDefault.png}"/>
        <h3><b>Application throws exception during handle your request</b></h3>

        <div th:if="${message != null}">
            <span style="font-weight: bold">Exception message: </span><span th:text="${message}"/>
        </div>
        <div th:if="${status != null}">
            <span style="font-weight: bold">Request Status: </span><span th:text="${status}"/>
        </div>
        <div th:if="${stacktrace != null}">
            <span style="font-weight: bold">StrackTrace: </span><span th:text="${stacktrace}"/>
        </div>
    </div>
</div>
</body>
</html>
