<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<body>
<div th:fragment="content">
    <!-- Example row of columns -->
    <div class="row-fluid">
        <div class="span4">
            <h2>Members</h2>

            <p>Praesent sagittis ultrices mi, eu molestie tortor varius ultricies. Curabitur ut
                condimentum justo. Suspendisse ex enim, dapibus vehicula luctus vitae, rhoncus sit
                amet risus. Sed non mattis magna. Vestibulum ipsum quam, auctor nec iaculis a,
                eleifend ac urna. Sed id nibh orci. Donec ut scelerisque arcu. Cras sit amet
                facilisis orci. Maecenas ut leo orci. Integer consequat, libero ut bibendum blandit,
                tellus sapien ornare neque, ut gravida ligula urna id risus. Nunc vitae nunc sed
                felis ornare varius. Sed venenatis vel est id rhoncus. Ut et ornare est, et aliquet
                enim. </p>

            <p><a class="btn" href="#">View details &raquo;</a></p>
        </div>
    </div>
</div>
</body>
</html>