<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<body>
<div th:fragment="acpContent">
    <div class="col-md-9">
        <div class="span4">
            <div class="container bs-docs-container">
                <div class="row row-centered">
                    <div class="bs-docs-section col-lg-6 col-centered">

                        <form th:action="@{/acp/members/edit}" th:object="${editMemberForm}"
                              method="post" class="form-horizontal">
                            <div th:if="${editMemberFormSent == true}"
                                 class="alert alert-dismissible alert-success">
                                <button type="button" class="close" data-dismiss="alert">×</button>
                                <label class="control-label">Changes saved correctly</label>
                            </div>

                            <fieldset>
                                <div class="form-group">
                                    <label for="username"
                                           class="col-lg-3 control-label">Username</label>

                                    <div class="col-lg-9">
                                        <input type="text" disabled th:field="*{username}"
                                               id="username" class="form-control"/>

                                        <p class="text-warning" th:errors="*{username}">[error]</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="displayedName" class="col-lg-3 control-label">Displayed
                                        name</label>

                                    <div class="col-lg-9">
                                        <input type="text" id="displayedName"
                                               th:field="*{displayedName}"
                                               class="form-control"/>

                                        <p class="text-warning" th:errors="*{displayedName}">
                                            [error]</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="email" class="col-lg-3 control-label"
                                           th:text="E-mail">[First Name]</label>

                                    <div class="col-lg-9">
                                        <input type="text" id="email" th:field="*{email}"
                                               class="form-control"/>

                                        <p class="text-warning" th:errors="*{email}">[error]</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="newPassword" class="col-lg-3 control-label"
                                           th:text="'New password'">[First Name]</label>

                                    <div class="col-lg-9">
                                        <input type="password" id="newPassword"
                                               th:field="*{newPassword}"
                                               class="form-control"/>

                                        <p class="text-warning" th:errors="*{newPassword}">
                                            [error]</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="newPasswordAgain" class="col-lg-3 control-label"
                                           th:text="'New password again'">[First Name]</label>

                                    <div class="col-lg-9">
                                        <input type="password" id="newPasswordAgain"
                                               th:field="*{newPasswordAgain}"
                                               class="form-control"/>

                                        <p class="text-warning" th:errors="*{newPasswordAgain}">
                                            [error]</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="hasAdminPrivilege">Administrator
                                        privilege:</label></br>
                                    <label class="form-check-label">
                                        <input type="checkbox" th:field="*{hasAdminPrivilege}"
                                               class="form-check-input" id="hasAdminPrivilege">
                                        Member has administrator privileges
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label class="form-check-label">Member lockout:</label>
                                    <label th:if="${lockExpirationDateTime != null}"
                                           class="form-check-label"
                                           th:text="'Lock expiration time is '+${{lockExpirationDateTime}}"></label>
                                    <label th:if="${lockExpirationDateTime == null}"
                                           class="form-check-label">Member is not locked</label>
                                </div>

                                <div class="form-group">
                                    <div class="col-lg-9 col-lg-offset-3">
                                        <button type="submit" class="btn btn-primary"
                                                th:text="Save">[Submit]
                                        </button>
                                    </div>
                                </div>
                            </fieldset>

                            <input type="hidden" th:field="*{id}">
                        </form>

                        <form th:if="${hasDeleteMemberPermission != null}"
                              th:action="@{/acp/members/remove}" th:object="${removeMemberForm}"
                              method="post" class="form-horizontal">
                            <fieldset>
                                <div class="form-group">
                                    <div class="col-lg-9 col-lg-offset-3">
                                        <button type="submit" class="btn btn-primary">Delete member
                                        </button>
                                    </div>
                                </div>
                            </fieldset>

                            <input type="hidden" th:field="*{id}">
                        </form>

                        <form th:action="@{/acp/members/removelock}" th:object="${removeLockForm}"
                              method="post"
                              th:if="${lockExpirationDateTime != null}" class="form-horizontal">
                            <fieldset>
                                <div class="form-group">
                                    <div class="col-lg-9 col-lg-offset-3">
                                        <button type="submit" class="btn btn-primary">Remove lock
                                        </button>
                                    </div>
                                </div>
                            </fieldset>

                            <input type="hidden" th:field="*{id}">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>