<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<body>
<link href="/css/list-group.css" rel="stylesheet" type="text/css"/>
<div th:fragment="acpContent">
    <style type="text/css">
        div {
            text-align: center;
        }

        .list-group-item {
            overflow: hidden;
            position: relative;
            display: block;
            padding: 10px 15px;
            margin-bottom: -1px;
            background-color: #fff;
            border: 1px solid #ddd;
        }
    </style>

    <b><h4>User Lock Settings</h4></b>

    <div class="container">
        <div class="list-group">
            <a href="#" class="list-group-item">Current User Lock Service Settings</a>
            <table class="table table-hover" align="center">
                <thead>
                <tr>
                    <th>Properties names</th>
                    <th>Properties value</th>
                </tr>
                <thead>
                <tbody>
                <tr th:each="singleMapEntity : ${data}">
                    <td th:text="${singleMapEntity.key}">abc</td>
                    <td th:text="${singleMapEntity.value}">def</td>
                </tr>
                </tbody>
            </table>
    </div>
    </div>
</div>
</body>
</html>