<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<body>
<div th:fragment="acpContent">
    <h4>System</h4>
    <dl>
        <dt>Database</dt>
        <dd>- Modify settings associated with access to database where all data are stored</dd>
        <dt>Maintenance</dt>
        <dd>- Monitoring measures and calculate statistics on real operation of a board depending on
            the usage by users
        </dd>
        <dt>Sessions</dt>
        <dd>- Manage active user sessions</dd>
    </dl>
</div>
</body>
</html>