<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<body>
<div th:fragment="content">
    <h3>jBB Installation</h3>
    <p>Welcome in jBB Board. Configure your administrator account and basic board settings before
        you
        start!</p>

    <form th:action="@{/install}" th:object="${installForm}"
          method="post">

        <h4>Administrator account</h4>

        <div class="form-group">
            <label for="adminUsername">Administrator username:</label>
            <input type="text" class="form-control" id="adminUsername"
                   th:field="*{adminUsername}"
                   aria-describedby="adminUsernameHelp">

            <p class="text-warning" th:errors="*{adminUsername}">[error]</p>
            <small id="adminUsernameHelp" class="form-text text-muted">Username used for sign in
            </small>
        </div>

        <div class="form-group">
            <label for="adminDisplayedName">Administrator displayed name:</label>
            <input type="text" class="form-control" id="adminDisplayedName"
                   th:field="*{adminDisplayedName}"
                   aria-describedby="adminDisplayedNameHelp">

            <p class="text-warning" th:errors="*{adminDisplayedName}">[error]</p>
            <small id="adminDisplayedNameHelp" class="form-text text-muted">Visible name for
                administrator
            </small>
        </div>

        <div class="form-group">
            <label for="adminEmail">Administrator e-mail:</label>
            <input type="text" class="form-control" id="adminEmail"
                   th:field="*{adminEmail}"
                   aria-describedby="adminEmailHelp">

            <p class="text-warning" th:errors="*{adminEmail}">[error]</p>
            <small id="adminEmailHelp" class="form-text text-muted">Administrator e-mail
            </small>
        </div>

        <div class="form-group">
            <label for="adminPassword">Administrator password:</label>
            <input type="password" class="form-control" id="adminPassword"
                   th:field="*{adminPassword}"
                   aria-describedby="adminPasswordHelp">

            <p class="text-warning" th:errors="*{adminPassword}">
                [error]</p>
            <small id="adminPasswordHelp" class="form-text text-muted">Administrator password
            </small>
        </div>

        <div class="form-group">
            <label for="adminPasswordAgain">Administrator password again:</label>
            <input type="password" class="form-control" id="adminPasswordAgain"
                   th:field="*{adminPasswordAgain}"
                   aria-describedby="adminPasswordAgainHelp">

            <p class="text-warning" th:errors="*{adminPasswordAgain}">
                [error]</p>
            <small id="adminPasswordAgainHelp" class="form-text text-muted">Administrator password
                again
            </small>
        </div>

        <h4>Board setup</h4>

        <div class="form-group">
            <label for="boardName">Board name:</label>
            <input type="text" class="form-control" id="boardName"
                   th:field="*{boardName}"
                   aria-describedby="boardNameHelp">

            <p class="text-warning" th:errors="*{boardName}">[error]</p>
            <small id="boardNameHelp" class="form-text text-muted">Name for the board
            </small>
        </div>

        <h4>Database setup</h4>

        <div class="form-group">
            <label class="control-label">Choose database provider:</label>
        </div>
        <div class="form-group">
            <input th:field="*{databaseProviderName}" type="radio" name="inlineRadioOptions"
                   id="h2Embedded" th:value="H2_EMBEDDED"> H2 (embedded)
        </div>
        <div class="form-group">
            <input th:field="*{databaseProviderName}" type="radio" name="inlineRadioOptions"
                   id="h2ManagedServer" th:value="H2_MANAGED_SERVER"> H2 (managed server)
        </div>
        <div class="form-group">
            <input th:field="*{databaseProviderName}" type="radio" name="inlineRadioOptions"
                   id="h2RemoteServer" th:value="H2_REMOTE_SERVER"> H2 (remote server)
        </div>
        <div class="form-group">
            <input th:field="*{databaseProviderName}" type="radio" name="inlineRadioOptions"
                   id="postgresql" th:value="POSTGRESQL"> PostgreSQL (remote server)
        </div>
        <p class="text-warning" th:errors="*{databaseProviderName}">[error]</p>

        <h5>H2 embedded settings:</h5>
        <div class="form-group">
            <label for="h2EmbeddedDatabaseFileName">Database file name:</label>
            <input type="text" class="form-control" id="h2EmbeddedDatabaseFileName"
                   th:field="*{h2embeddedForm.databaseFileName}"
                   aria-describedby="h2EmbeddedDatabaseFileNameHelp">

            <p class="text-warning" th:errors="*{h2embeddedForm.databaseFileName}">
                [error]</p>
            <small id="h2EmbeddedDatabaseFileNameHelp" class="form-text text-muted">Name
                for file with
                embedded jBB database
            </small>
        </div>

        <div class="form-group">
            <label for="h2EmbeddedUsername">Database username:</label>
            <input type="text" class="form-control" id="h2EmbeddedUsername"
                   th:field="*{h2embeddedForm.username}"
                   aria-describedby="h2EmbeddedUsernameHelp">

            <p class="text-warning" th:errors="*{h2embeddedForm.username}">[error]</p>
            <small id="h2EmbeddedUsernameHelp" class="form-text text-muted">Username for
                embedded jBB database
            </small>
        </div>

        <div class="form-group">
            <label for="h2EmbeddedPassword">Database username password:</label>
            <input type="password" class="form-control" id="h2EmbeddedPassword"
                   th:field="*{h2embeddedForm.usernamePassword}"
                   aria-describedby="h2EmbeddedPasswordHelp">

            <p class="text-warning" th:errors="*{h2embeddedForm.usernamePassword}">
                [error]</p>
            <small id="h2EmbeddedPasswordHelp" class="form-text text-muted">Password for given
                username of embedded jBB database
            </small>
        </div>

        <h5>H2 managed server settings:</h5>
        <div class="form-group">
            <label for="h2ManagedServerDatabaseFileName">Database file name:</label>
            <input type="text" class="form-control" id="h2ManagedServerDatabaseFileName"
                   th:field="*{h2managedServerForm.databaseFileName}"
                   aria-describedby="h2ManagedServerDatabaseFileNameHelp">

            <p class="text-warning" th:errors="*{h2managedServerForm.databaseFileName}">
                [error]</p>
            <small id="h2ManagedServerDatabaseFileNameHelp" class="form-text text-muted">Name
                for file for database associated with managed server
            </small>
        </div>

        <div class="form-group">
            <label for="h2ManagedServerPort">Database server port:</label>
            <input type="text" class="form-control" id="h2ManagedServerPort"
                   th:field="*{h2managedServerForm.port}"
                   aria-describedby="h2ManagedServerPortHelp">

            <p class="text-warning" th:errors="*{h2managedServerForm.port}">[error]</p>
            <small id="h2ManagedServerPortHelp" class="form-text text-muted">Port for H2 server
            </small>
        </div>

        <div class="form-group">
            <label for="h2ManagedServerUsername">Database username:</label>
            <input type="text" class="form-control" id="h2ManagedServerUsername"
                   th:field="*{h2managedServerForm.username}"
                   aria-describedby="h2ManagedServerUsernameHelp">

            <p class="text-warning" th:errors="*{h2managedServerForm.username}">[error]</p>
            <small id="h2ManagedServerUsernameHelp" class="form-text text-muted">Username for
                H2 server database
            </small>
        </div>

        <div class="form-group">
            <label for="h2ManagedServerPassword">Database username password:</label>
            <input type="password" class="form-control" id="h2ManagedServerPassword"
                   th:field="*{h2managedServerForm.usernamePassword}"
                   aria-describedby="h2ManagedServerPasswordHelp">

            <p class="text-warning" th:errors="*{h2managedServerForm.usernamePassword}">
                [error]</p>
            <small id="h2ManagedServerPasswordHelp" class="form-text text-muted">Password for given
                username of H2 server database
            </small>
        </div>

        <h5>H2 remote server settings:</h5>
        <div class="form-group">
            <label for="h2RemoteServerUrl">Database url:</label>
            <input type="text" class="form-control" id="h2RemoteServerUrl"
                   th:field="*{h2remoteServerForm.url}"
                   aria-describedby="h2RemoteServerUrlHelp">

            <p class="text-warning" th:errors="*{h2remoteServerForm.url}">
                [error]</p>
            <small id="h2RemoteServerUrlHelp" class="form-text text-muted">URL for H2 remote server
            </small>
        </div>

        <div class="form-group">
            <label for="h2RemoteServerUsername">Database username:</label>
            <input type="text" class="form-control" id="h2RemoteServerUsername"
                   th:field="*{h2remoteServerForm.username}"
                   aria-describedby="h2RemoteServerUsernameHelp">

            <p class="text-warning" th:errors="*{h2remoteServerForm.username}">[error]</p>
            <small id="h2RemoteServerUsernameHelp" class="form-text text-muted">Username for
                H2 server database
            </small>
        </div>

        <div class="form-group">
            <label for="h2RemoteServerPassword">Database username password:</label>
            <input type="password" class="form-control" id="h2RemoteServerPassword"
                   th:field="*{h2remoteServerForm.usernamePassword}"
                   aria-describedby="h2RemoteServerPasswordHelp">

            <p class="text-warning" th:errors="*{h2remoteServerForm.usernamePassword}">
                [error]</p>
            <small id="h2RemoteServerPasswordHelp" class="form-text text-muted">Password for given
                username of H2 server database
            </small>
        </div>

        <h5>PostgreSQL settings:</h5>

        <div class="form-group">
            <label for="postgresqlHostName">Host name:</label>
            <input type="text" class="form-control" id="postgresqlHostName"
                   th:field="*{postgresqlForm.hostName}"
                   aria-describedby="postgresqlHostNameHelp">

            <p class="text-warning" th:errors="*{postgresqlForm.hostName}">
                [error]</p>
            <small id="postgresqlHostNameHelp" class="form-text text-muted">Host for PostgreSQL
                server
            </small>
        </div>

        <div class="form-group">
            <label for="postgresqlPort">Server port:</label>
            <input type="text" class="form-control" id="postgresqlPort"
                   th:field="*{postgresqlForm.port}"
                   aria-describedby="postgresqlPortHelp">

            <p class="text-warning" th:errors="*{postgresqlForm.port}">[error]</p>
            <small id="postgresqlPortHelp" class="form-text text-muted">Port for PostgreSQL server
            </small>
        </div>

        <div class="form-group">
            <label for="postgresqlDatabaseName">Database name:</label>
            <input type="text" class="form-control" id="postgresqlDatabaseName"
                   th:field="*{postgresqlForm.databaseName}"
                   aria-describedby="postgresqlDatabaseNameHelp">

            <p class="text-warning" th:errors="*{postgresqlForm.databaseName}">
                [error]</p>
            <small id="postgresqlDatabaseNameHelp" class="form-text text-muted">Name for used
                database
            </small>
        </div>

        <div class="form-group">
            <label for="postgresqlUsername">Server username:</label>
            <input type="text" class="form-control" id="postgresqlUsername"
                   th:field="*{postgresqlForm.username}"
                   aria-describedby="postgresqlUsernameHelp">

            <p class="text-warning" th:errors="*{postgresqlForm.username}">[error]</p>
            <small id="postgresqlUsernameHelp" class="form-text text-muted">Username for
                PostgreSQL server
            </small>
        </div>

        <div class="form-group">
            <label for="postgresqlPassword">Server password:</label>
            <input type="password" class="form-control" id="postgresqlPassword"
                   th:field="*{postgresqlForm.password}"
                   aria-describedby="postgresqlPasswordHelp">

            <p class="text-warning" th:errors="*{postgresqlForm.password}">
                [error]</p>
            <small id="postgresqlPasswordHelp" class="form-text text-muted">Password for given
                username of PostgreSQL server database
            </small>
        </div>


        <button type="submit" class="btn btn-primary">Start installation</button>
    </form>

</div>
</body>
</html>