<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<body>
<div th:fragment="content">
    <div class="container">
        <!--<img th:src="@{/resources/images/error.png}"/>-->
        <h3>Łoooo kurwa Panie! Co tu się odjebało!</h3>

        <div th:if="${message != null}">
            <span style="font-weight: bold">Exception message: </span><span th:text="${message}"/>
        </div>
        <div th:if="${requestURL != null}">
            <span style="font-weight: bold">Request URL: </span><span th:text="${requestURL}"/>
        </div>
        <div th:if="${status != null} and ${status ne 200 }">
            <span style="font-weight: bold">Request Status: </span><span th:text="${status}"/>
        </div>
    </div>
</div>
</body>
</html>


