<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<body>
<div th:fragment="acpContent">
    <div class="col-md-9">
        <form th:action="@{/acp/general/cache}" th:object="${cacheSettingsForm}"
              method="post">
            <div th:if="${cacheSettingsFormSaved == true}"
                 class="alert alert-dismissible alert-success">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <label class="control-label">Settings saved correctly</label>
            </div>

            <div class="form-group">
                <label>Enable caches:</label>
            </div>
            <div class="form-group">
                <label class="form-check-label">
                    <input type="checkbox" th:field="*{applicationCacheEnabled}"
                           class="form-check-input" id="applicationCacheEnabled">
                    Application cache enabled
                </label>
            </div>
            <div class="form-group">
                <label class="form-check-label">
                    <input type="checkbox" th:field="*{secondLevelCacheEnabled}"
                           class="form-check-input" id="secondLevelCacheEnabled">
                    Second level cache enabled
                </label>
            </div>
            <div class="form-group">
                <label class="form-check-label">
                    <input type="checkbox" th:field="*{queryCacheEnabled}"
                           class="form-check-input" id="queryCacheEnabled">
                    Query cache enabled
                </label>
            </div>

            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</div>
</body>
</html>