<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<body>
<div th:fragment="acpContent">
  <style type="text/css">
    .form-horizontal div {
      display: inline-block;
    }
  </style>

  <script th:inline="javascript">
    /*<![CDATA[*/

    function addCategory() {
      var newCategoryDiv = document.getElementById("category-CHANGEIT");
      var clone = newCategoryDiv.cloneNode(true);
      var newCategoryIdx = lastCategoryNumber() - 1;
      clone.attributes.removeNamedItem("style");
      setUpCategory(clone, newCategoryIdx);
      var addCategoryDiv = document.getElementById("addCategory");
      document.getElementById("faqForm").insertBefore(clone, addCategoryDiv);
    }

    function addEntry(categoryIdx) {
      var newEntryDiv = document.getElementById("entry-CHANGEIT");
      var clone = newEntryDiv.cloneNode(true);

      var newEntryIdx = lastEntryNumber(categoryIdx) - 1;
      clone.attributes.removeNamedItem("style");
      setUpEntry(clone, categoryIdx, newEntryIdx);
      var addEntryDiv = document.getElementById("entryadd-btn-" + categoryIdx);
      var categoryElement = document.getElementById("category-" + categoryIdx);
      categoryElement.childNodes[1].insertBefore(clone, addEntryDiv.parentNode);
    }

    function removeCategory(categoryIdx) {
      var category = document.getElementById("category-" + categoryIdx);
      var lastCategory = lastCategoryNumber() - 2;
      category.parentNode.removeChild(category);
      for (i = lastCategory; i > categoryIdx; i--) {
        moveCategory(i, i - 1);
        moveEntries(i, i - 1);
      }
    }

    function removeEntry(categoryIdx, entryIdx) {
      console.info("[RE] cat: " + categoryIdx + " entr:" + entryIdx);
      var entry = document.getElementById("entry-" + categoryIdx + "-" + entryIdx);
      var lastEntry = lastEntryNumber(categoryIdx) - 2;
      entry.parentNode.removeChild(entry);
      for (i = lastEntry; i > entryIdx; i--) {
        moveEntries(categoryIdx, i, i - 1);
      }
    }

    function moveCategory(oldCategoryIdx, newCategoryIdx) {
      var categoryDiv = document.getElementById("category-" + oldCategoryIdx);
      setUpCategory(categoryDiv, newCategoryIdx);
    }

    function moveEntries(oldCategoryIdx, newCategoryIdx) {
      var lastEntry = lastEntryNumber(oldCategoryIdx) - 2;
      for (i = 0; i <= lastEntry; i++) {
        var entryDiv = document.getElementById("entry-" + oldCategoryIdx + "-" + i);
        setUpEntry(entryDiv, newCategoryIdx, i);
      }
    }

    function moveEntries(categoryIdx, oldEntryIdx, newEntryIdx) {
      var entryDiv = document.getElementById("entry-" + categoryIdx + "-" + oldEntryIdx);
      setUpEntry(entryDiv, categoryIdx, newEntryIdx);
    }

    function setUpCategory(categoryNode, newCategoryIdx) {
      categoryNode.id = "category-" + newCategoryIdx;
      categoryNode.childNodes.item(1).childNodes.item(1).childNodes[1].id = "categoryup-btn-"
          + newCategoryIdx;
      categoryNode.childNodes.item(1).childNodes.item(1).childNodes[3].id = "categorydown-btn-"
          + newCategoryIdx;
      categoryNode.childNodes.item(1).childNodes.item(1).childNodes[5].id = "categoryremove-btn-"
          + newCategoryIdx;
      categoryNode.childNodes.item(1).childNodes.item(1).childNodes[5].setAttribute("onclick",
          "removeCategory(" + newCategoryIdx + ");");
      categoryNode.childNodes.item(1).childNodes.item(3).childNodes[3].id = "categoryname-"
          + newCategoryIdx;
      categoryNode.childNodes.item(1).childNodes.item(3).childNodes[3].name = "categories["
          + newCategoryIdx + "].name";
      categoryNode.childNodes.item(1).childNodes.item(5).childNodes[1].id = "entryadd-btn-"
          + newCategoryIdx;
      categoryNode.childNodes.item(1).childNodes.item(5).childNodes[1].setAttribute("onclick",
          "addEntry(" + newCategoryIdx + ");");
    }

    function setUpEntry(entryNode, categoryIdx, newEntryIdx) {
      entryNode.id = "entry-" + categoryIdx + "-" + newEntryIdx;
      entryNode.childNodes.item(1).childNodes.item(1).childNodes.item(
          1).childNodes[1].id = "entryup-btn-" + categoryIdx + "-" + newEntryIdx;
      entryNode.childNodes.item(1).childNodes.item(1).childNodes.item(
          1).childNodes[3].id = "entrydown-btn-" + categoryIdx + "-" + newEntryIdx;
      entryNode.childNodes.item(1).childNodes.item(1).childNodes.item(
          1).childNodes[5].id = "entryremove-btn-" + categoryIdx + "-" + newEntryIdx;
      entryNode.childNodes.item(1).childNodes.item(1).childNodes.item(
          1).childNodes[5].setAttribute("onClick",
          "removeEntry(" + categoryIdx + ", " + newEntryIdx + ");");
      entryNode.childNodes.item(1).childNodes.item(1).childNodes[5].id = "question-" + categoryIdx
          + "-"
          + newEntryIdx;
      entryNode.childNodes.item(1).childNodes.item(1).childNodes[5].name = "categories["
          + categoryIdx
          + "].entries[" + newEntryIdx + "].question";
      entryNode.childNodes.item(1).childNodes.item(3).childNodes[3].id = "answer-" + categoryIdx
          + "-"
          + newEntryIdx;
      entryNode.childNodes.item(1).childNodes.item(3).childNodes[3].name = "categories["
          + categoryIdx
          + "].entries[" + newEntryIdx + "].answer";
    }

    function lastCategoryNumber() {
      return document.getElementById("faqForm").childElementCount - 2;
    }

    function lastEntryNumber(categoryIdx) {
      return document.getElementById("category-" + categoryIdx).childNodes.item(1).childElementCount
          - 2;
    }
    /*]]>*/
  </script>

  <div class="col-md-9">
    <h4>FAQ</h4>

    <div th:if="${faqSettingsFormSaved == true}"
         class="alert alert-dismissible alert-success">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <label class="control-label">Settings saved correctly</label>
    </div>

    <div style="display: none;" th:id="category-CHANGEIT" class="panel panel-default">
      <div class="panel-body">
        <div class="pull-right">
          <input type="button" th:id="categoryup-btn-CHANGEIT" value="↑"
                 class="btn btn-default btn-xs btn-space"/>
          <input type="button" th:id="categorydown-btn-CHANGEIT" value="↓"
                 class="btn btn-default btn-xs btn-space"/>
          <input type="button" th:id="categoryremove-btn-CHANGEIT" value="×"
                 class="btn btn-danger btn-xs btn-space" onClick="removeCategory(CHANGEIT);"/>
        </div>
        <div class="form-group">
          <label for="test">Category:</label>
          <input type="text" class="form-control input-lg" id="categoryname-CHANGEIT"
                 name="categories[CHANGEIT].name">
        </div>
        <div class="pull-right">
          <input type="button" id="entryadd-btn-CHANGEIT" value="Add new question"
                 class="btn btn-default btn-space" onClick="addEntry(CHANGEIT);"/>
        </div>
      </div>
    </div>

    <div id="entry-CHANGEIT" style="display: none;">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="pull-right">
            <input type="button" id="entryup-btn-CHANGEIT-CHANGEIT"
                   value="↑" class="btn btn-default btn-xs btn-space"/>
            <input type="button" th:id="entrydown-btn-CHANGEIT-CHANGEIT"
                   value="↓" class="btn btn-default btn-xs btn-space"/>
            <input type="button" th:id="entryremove-btn-CHANGEIT-CHANGEIT"
                   value="×" class="btn btn-danger btn-xs btn-space"
                   onClick="removeEntry(CHANGEIT, CHANGEIT);"/>
          </div>
          <label for="testing">Question:</label>
          <input type="text" class="form-control"
                 th:id="question-CHANGEIT-CHANGEIT"
                 name="categories[CHANGEIT].entires[CHANGEIT].question"/>
        </div>
        <div class="panel-body">
          <label for="description">Answer:</label>
          <textarea rows="4" class="form-control"
                    th:id="answer-CHANGEIT-CHANGEIT"
                    name="categories[CHANGEIT].entires[CHANGEIT].answer"></textarea>
        </div>
      </div>
    </div>

    <form id="faqForm" th:action="@{/acp/general/faq}" method="post">

      <div th:id="category- + ${iter.index}"
           th:each='faqCategory,iter : ${faqSettingsForm.categories}' class="panel panel-default">
        <div class="panel-body">
          <div class="pull-right">
            <input type="button" th:id="categoryup-btn- + ${iter.index}" value="↑"
                   class="btn btn-default btn-xs btn-space"/>
            <input type="button" th:id="categorydown-btn- + ${iter.index}" value="↓"
                   class="btn btn-default btn-xs btn-space"/>
            <input type="button" th:id="categoryremove-btn- + ${iter.index}" value="×"
                   class="btn btn-danger btn-xs btn-space"
                   th:onclick="'removeCategory(\'' + ${iter.index} + '\');'"/>
          </div>
          <div class="form-group">
            <label for="test">Category:</label>
            <input type="text" class="form-control input-lg" th:id="categoryname- + ${iter.index}"
                   th:field="*{faqSettingsForm.categories[__${iter.index}__].name}">
            <p class="text-warning"
               th:errors="*{faqSettingsForm.categories[__${iter.index}__].name}">[error]</p>
          </div>
          <div th:id="entry- + ${iter.index} + '-' + ${it.index}"
               th:each='faqEntry,it : ${faqSettingsForm.categories[__${iter.index}__].entries}'>
            <div class="panel panel-default">
              <div class="panel-heading">
                <div class="pull-right">
                  <input type="button" th:id="entryup-btn- + ${iter.index} + '-' + ${it.index}"
                         value="↑" class="btn btn-default btn-xs btn-space"/>
                  <input type="button" th:id="entrydown-btn- + ${iter.index} + '-' + ${it.index}"
                         value="↓" class="btn btn-default btn-xs btn-space"/>
                  <input type="button" th:id="entryremove-btn- + ${iter.index} + '-' + ${it.index}"
                         value="×" class="btn btn-danger btn-xs btn-space"
                         th:onclick="'removeEntry(\'' + ${iter.index} + '\', \'' + ${it.index} +'\');'"/>
                </div>
                <label for="testing">Question:</label>
                <input type="text" class="form-control"
                       th:id="question- + ${iter.index} + '-' + ${it.index}"
                       th:field="*{faqSettingsForm.categories[__${iter.index}__].entries[__${it.index}__].question}">
                <p class="text-warning"
                   th:errors="*{faqSettingsForm.categories[__${iter.index}__].entries[__${it.index}__].question}">
                  [error]</p>
              </div>
              <div class="panel-body">
                <label for="description">Answer:</label>
                <textarea rows="4" class="form-control"
                          th:id="answer- + ${iter.index} + '-' + ${it.index}"
                          th:field="*{faqSettingsForm.categories[__${iter.index}__].entries[__${it.index}__].answer}"></textarea>
                <p class="text-warning"
                   th:errors="*{faqSettingsForm.categories[__${iter.index}__].entries[__${it.index}__].answer}">
                  [error]</p>
              </div>
            </div>
          </div>
          <div class="pull-right">
            <input type="button" th:id="entryadd-btn- + ${iter.index}" value="Add new question"
                   th:onclick="'addEntry(\'' + ${iter.index} + '\');'"
                   class="btn btn-default btn-space"/>
          </div>
        </div>
      </div>
      <div id="addCategory" class="pull-right">
        <input type="button" value="Add new category" class="btn btn-default"
               onClick="addCategory();"/>
      </div>
      <div>
        <button type="submit" class="btn btn-primary">
          Save
        </button>
      </div>
    </form>
  </div>


</div>
</body>
</html>