<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<body>
<div th:fragment="acpContent">
  <style type="text/css">
    .form-horizontal div {
      display: inline-block;
    }
  </style>

  <script th:inline="javascript">
    /*<![CDATA[*/
    var counter = 1;
    var limit = 3;
    function addInput(divName) {
      if (counter == limit) {
        alert("You have reached the limit of adding " + counter + " inputs");
      }

      else {
        var newdiv = document.createElement('div');
        newdiv.innerHTML = "Entry " + (counter + 1) + " <br><input type='text' name='myInputs[]'>";
        document.getElementById(divName).appendChild(newdiv);
        counter++;
      }
    }

    function addCategory() {
      var newCategoryDiv = document.getElementById("category-CHANGEIT");
      var clone = newCategoryDiv.cloneNode(true);
      var newCategoryIdx = lastCategoryNumber() - 1;
      clone.id = "category-" + newCategoryIdx;
      clone.attributes.removeNamedItem("style");
      clone.childNodes.item(1).childNodes.item(1).childNodes[1].id = "categoryup-btn-"
          + newCategoryIdx;
      clone.childNodes.item(1).childNodes.item(1).childNodes[3].id = "categorydown-btn-"
          + newCategoryIdx;
      clone.childNodes.item(1).childNodes.item(1).childNodes[5].id = "categoryremove-btn-"
          + newCategoryIdx;
      clone.childNodes.item(1).childNodes.item(3).childNodes[3].id = "categoryname-"
          + newCategoryIdx;
      clone.childNodes.item(1).childNodes.item(3).childNodes[3].name = "categories["
          + newCategoryIdx + "].name";
      clone.childNodes.item(1).childNodes.item(5).childNodes[1].id = "entryadd-btn-"
          + newCategoryIdx;
      var addCategoryDiv = document.getElementById("addCategory");
      document.getElementById("faqForm").insertBefore(clone, addCategoryDiv);
    }

    function addEntry(categoryIdx) {
      var newEntryDiv = document.getElementById("entry-CHANGEIT");
      var clone = newEntryDiv.cloneNode(true);

      var newEntryIdx = lastEntryNumber(categoryIdx) - 1;
      clone.id = "entry-" + categoryIdx + "-" + newEntryIdx;
      clone.attributes.removeNamedItem("style");
      clone.childNodes.item(1).childNodes.item(1).childNodes.item(
          1).childNodes[1].id = "entryup-btn-" + categoryIdx + "-" + newEntryIdx;
      clone.childNodes.item(1).childNodes.item(1).childNodes.item(
          1).childNodes[3].id = "entrydown-btn-" + categoryIdx + "-" + newEntryIdx;
      clone.childNodes.item(1).childNodes.item(1).childNodes.item(
          1).childNodes[5].id = "entryremove-btn-" + categoryIdx + "-" + newEntryIdx;
      clone.childNodes.item(1).childNodes.item(1).childNodes[5].id = "question-" + categoryIdx + "-"
          + newEntryIdx;
      clone.childNodes.item(1).childNodes.item(1).childNodes[5].name = "categories[" + categoryIdx
          + "].entires[" + newEntryIdx + "].question";
      clone.childNodes.item(1).childNodes.item(3).childNodes[3].id = "answer-" + categoryIdx + "-"
          + newEntryIdx;
      clone.childNodes.item(1).childNodes.item(3).childNodes[3].name = "categories[" + categoryIdx
          + "].entires[" + newEntryIdx + "].answer";
      var addEntryDiv = document.getElementById("entryadd-btn-" + categoryIdx);
      var categoryElement = document.getElementById("category-" + categoryIdx);
      categoryElement.childNodes[1].insertBefore(clone, addEntryDiv.parentNode);

    }

    function lastCategoryNumber() {
      return document.getElementById("faqForm").childElementCount - 2;
    }

    function lastEntryNumber(categoryIdx) {
      return document.getElementById("category-" + categoryIdx).childNodes.item(1).childElementCount
          - 2;
    }
    /*]]>*/
  </script>

  <div class="col-md-9">
    <h4>FAQ</h4>

    <form method="POST">

      <div id="dynamicInput">
        Entry 1<br><input type="text" name="myInputs[]">
      </div>

      <input type="button" value="Add another text input" onClick="addInput('dynamicInput');">
    </form>


    </br>

    <div th:if="${faqSettingsFormSaved == true}"
         class="alert alert-dismissible alert-success">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <label class="control-label">Settings saved correctly</label>
    </div>

    <div style="display: none;" th:id="category-CHANGEIT" class="panel panel-default">
      <div class="panel-body">
        <div class="pull-right">
          <input type="button" th:id="categoryup-btn-CHANGEIT" value="↑"
                 class="btn btn-default btn-xs btn-space"/>
          <input type="button" th:id="categorydown-btn-CHANGEIT" value="↓"
                 class="btn btn-default btn-xs btn-space"/>
          <input type="button" th:id="categoryremove-btn-CHANGEIT" value="×"
                 class="btn btn-danger btn-xs btn-space"/>
        </div>
        <div class="form-group">
          <label for="test">Category:</label>
          <input type="text" class="form-control input-lg" id="categoryname-CHANGEIT"
                 name="categories[CHANGEIT].name">
        </div>
        <div class="pull-right">
          <input type="button" id="entryadd-btn-CHANGEIT" value="Add new question"
                 class="btn btn-default btn-space"/>
        </div>
      </div>
    </div>

    <div id="entry-CHANGEIT" style="display: none;">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="pull-right">
            <input type="button" id="entryup-btn-CHANGEIT-CHANGEIT"
                   value="↑" class="btn btn-default btn-xs btn-space"/>
            <input type="button" th:id="entrydown-btn-CHANGEIT-CHANGEIT"
                   value="↓" class="btn btn-default btn-xs btn-space"/>
            <input type="button" th:id="entryremove-btn-CHANGEIT-CHANGEIT"
                   value="×" class="btn btn-danger btn-xs btn-space"/>
          </div>
          <label for="testing">Question:</label>
          <input type="text" class="form-control"
                 th:id="question-CHANGEIT-CHANGEIT"
                 name="categories[CHANGEIT].entires[CHANGEIT].question"/>
        </div>
        <div class="panel-body">
          <label for="description">Answer:</label>
          <textarea rows="4" class="form-control"
                    th:id="answer-CHANGEIT-CHANGEIT"
                    name="categories[CHANGEIT].entires[CHANGEIT].answer"></textarea>
        </div>
      </div>
    </div>

    <form id="faqForm" th:action="@{/acp/general/faq}" method="post">

      <div th:id="category- + ${iter.index}"
           th:each='faqCategory,iter : ${faqSettingsForm.categories}' class="panel panel-default">
        <div class="panel-body">
          <div class="pull-right">
            <input type="button" th:id="categoryup-btn- + ${iter.index}" value="↑"
                   class="btn btn-default btn-xs btn-space"/>
            <input type="button" th:id="categorydown-btn- + ${iter.index}" value="↓"
                   class="btn btn-default btn-xs btn-space"/>
            <input type="button" th:id="categoryremove-btn- + ${iter.index}" value="×"
                   class="btn btn-danger btn-xs btn-space"/>
          </div>
          <div class="form-group">
            <label for="test">Category:</label>
            <input type="text" class="form-control input-lg" th:id="categoryname- + ${iter.index}"
                   th:field="*{faqSettingsForm.categories[__${iter.index}__].name}">
          </div>
          <div th:each='faqEntry,it : ${faqSettingsForm.categories[__${iter.index}__].entries}'>
            <div class="panel panel-default">
              <div class="panel-heading">
                <div class="pull-right">
                  <input type="button" th:id="entryup-btn- + ${iter.index} + '-' + ${it.index}"
                         value="↑" class="btn btn-default btn-xs btn-space"/>
                  <input type="button" th:id="entrydown-btn- + ${iter.index} + '-' + ${it.index}"
                         value="↓" class="btn btn-default btn-xs btn-space"/>
                  <input type="button" th:id="entryremove-btn- + ${iter.index} + '-' + ${it.index}"
                         value="×" class="btn btn-danger btn-xs btn-space"/>
                </div>
                <label for="testing">Question:</label>
                <input type="text" class="form-control"
                       th:id="question- + ${iter.index} + '-' + ${it.index}"
                       th:field="*{faqSettingsForm.categories[__${iter.index}__].entries[__${it.index}__].question}">
              </div>
              <div class="panel-body">
                <label for="description">Answer:</label>
                <textarea rows="4" class="form-control"
                          th:id="answer- + ${iter.index} + '-' + ${it.index}"
                          th:field="*{faqSettingsForm.categories[__${iter.index}__].entries[__${it.index}__].answer}"></textarea>
              </div>
            </div>
          </div>
          <div class="pull-right">
            <input type="button" th:id="entryadd-btn- + ${iter.index}" value="Add new question"
                   th:onclick="'addEntry(\'' + ${iter.index} + '\');'"
                   class="btn btn-default btn-space"/>
          </div>
        </div>
      </div>
      <div id="addCategory" class="pull-right">
        <input type="button" value="Add new category" class="btn btn-default"
               onClick="addCategory();"/>
      </div>
      <div>
        <button type="submit" class="btn btn-primary">
          Save
        </button>
      </div>
    </form>
  </div>


</div>
</body>
</html>