<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<body>
<div th:fragment="acpContent">
    <div class="col-md-9">
        <form th:action="@{/acp/system/database}" th:object="${databaseSettingsForm}"
              method="post">
            <div th:if="${restartNeeded == true}"
                 class="alert alert-dismissible alert-warning">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <label class="control-label">You must restart the application to take effect with
                    new settings</label>
            </div>

            <div th:if="${databaseSettingsFormSaved == true}"
                 class="alert alert-dismissible alert-success">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <label class="control-label">Settings saved correctly</label>
            </div>

            <div class="form-group">
                <label for="databaseFileName">Database file name:</label>
                <input type="text" class="form-control" id="databaseFileName"
                       th:field="*{databaseFileName}" aria-describedby="databaseFileNameHelp">

                <p class="text-warning" th:errors="*{databaseFileName}">[error]</p>
                <small id="databaseFileNameHelp" class="form-text text-muted">Name for file with
                    embedded jBB database
                </small>
            </div>

            <div class="form-group">
                <label for="minimumIdleConnections">Minimum amount of idle database
                    connections:</label>
                <input type="text" class="form-control" id="minimumIdleConnections"
                       th:field="*{minimumIdleConnections}"
                       aria-describedby="minimumIdleConnectionsHelp">

                <p class="text-warning" th:errors="*{minimumIdleConnections}">[error]</p>
                <small id="minimumIdleConnectionsHelp" class="form-text text-muted">Number of idle
                    database connections
                </small>
            </div>

            <div class="form-group">
                <label for="maximumPoolSize">Maximum size of database connection pool:</label>
                <input type="text" class="form-control" id="maximumPoolSize"
                       th:field="*{maximumPoolSize}" aria-describedby="maximumPoolSizeHelp">

                <p class="text-warning" th:errors="*{maximumPoolSize}">[error]</p>
                <small id="maximumPoolSizeHelp" class="form-text text-muted">Size of database
                    connections pool
                </small>
            </div>

            <div class="form-group">
                <label for="connectionTimeOutMilliseconds">Connection timeout in
                    milliseconds:</label>
                <input type="text" class="form-control" id="connectionTimeOutMilliseconds"
                       th:field="*{connectionTimeOutMilliseconds}"
                       aria-describedby="connectionTimeOutMillisecondsHelp">

                <p class="text-warning" th:errors="*{connectionTimeOutMilliseconds}">[error]</p>
                <small id="connectionTimeOutMillisecondsHelp" class="form-text text-muted">
                    Connection timeout with database in milliseconds
                </small>
            </div>

            <div class="form-group">
                <label for="failAtStartingImmediately">Connection failed behaviour:</label></br>
                <label class="form-check-label">
                    <input type="checkbox" th:field="*{failAtStartingImmediately}"
                           class="form-check-input" id="failAtStartingImmediately">
                    Fail immediately when connection to database failed at startup
                </label>
            </div>

            <div class="form-group">
                <label for="dropDatabaseAtStart">Run with fresh database:</label></br>
                <label class="form-check-label">
                    <input type="checkbox" th:field="*{dropDatabaseAtStart}"
                           class="form-check-input" id="dropDatabaseAtStart">
                    Drop database at startup
                </label>
            </div>

            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</div>
</body>
</html>