<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<html>
<head>
    ...
</head>
<body>
<div th:fragment="header">
    <div class="masthead">
        <div class="row">
            <div class="col-md-12"><h3 class="muted">Board name</h3></div>
        </div>
        <nav>
            <ul class="nav nav-justified">
                <li th:classappend="${#httpServletRequest.getRequestURI() == '/' ? 'active':''}"><a
                        th:href="@{/}">Home</a></li>
                <li th:classappend="${#httpServletRequest.getRequestURI() == '/subpage1' ? 'active':''}">
                    <a th:href="@{/subpage1}">Subpage 1</a></li>
                <li th:classappend="${#httpServletRequest.getRequestURI() == '/subpage2' ? 'active':''}">
                    <a th:href="@{/subpage2}">Subpage 2</a></li>
                <li th:classappend="${#httpServletRequest.getRequestURI() == '/subpage3' ? 'active':''}">
                    <a th:href="@{/subpage3}">Subpage 3</a></li>
            </ul>
        </nav>
    </div>
</div>
</body>
</html>