<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<body>
<div th:fragment="acpContent">
    <div class="col-md-9">
        <div class="span4">
            <div class="container bs-docs-container">
                <div class="row row-centered">
                    <div class="bs-docs-section col-lg-6 col-centered">

                        <form th:action="@{/acp/members/edit}" th:object="${editMemberForm}"
                              method="post" class="form-horizontal">
                            <div th:if="${#fields.hasGlobalErrors()}"
                                 class="has-error col-lg-offset-3 alert alert-dismissible alert-danger">
                                <button type="button" class="close" data-dismiss="alert">×</button>
                                <label class="control-label"
                                       th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</label>
                            </div>

                            <fieldset>
                                <div class="form-group">
                                    <label for="username"
                                           class="col-lg-3 control-label">Username</label>

                                    <div class="col-lg-9">
                                        <input type="text" th:field="*{username}"
                                               class="form-control"/>

                                        <p class="text-warning" th:errors="*{username}">[error]</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="displayedName" class="col-lg-3 control-label">Displayed
                                        name</label>

                                    <div class="col-lg-9">
                                        <input type="text" th:field="*{displayedName}"
                                               class="form-control"/>

                                        <p class="text-warning" th:errors="*{displayedName}">
                                            [error]</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="email" class="col-lg-3 control-label"
                                           th:text="E-mail">[First Name]</label>

                                    <div class="col-lg-9">
                                        <input type="text" th:field="*{email}"
                                               class="form-control"/>

                                        <p class="text-warning" th:errors="*{email}">[error]</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="password" class="col-lg-3 control-label"
                                           th:text="'New password'">[First Name]</label>

                                    <div class="col-lg-9">
                                        <input type="password" th:field="*{newPassword}"
                                               class="form-control"/>

                                        <p class="text-warning" th:errors="*{newPassword}">
                                            [error]</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="passwordAgain" class="col-lg-3 control-label"
                                           th:text="'New password again'">[First Name]</label>

                                    <div class="col-lg-9">
                                        <input type="password" th:field="*{newPasswordAgain}"
                                               class="form-control"/>

                                        <p class="text-warning" th:errors="*{newPasswordAgain}">
                                            [error]</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="hasAdminRole">Administrator role:</label></br>
                                    <label class="form-check-label">
                                        <input type="checkbox" th:field="*{hasAdminRole}"
                                               class="form-check-input" id="hasAdminRole">
                                        Administrator role for member enabled
                                    </label>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-9 col-lg-offset-3">
                                        <button type="submit" class="btn btn-primary"
                                                th:text="Save">[Submit]
                                        </button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>