<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="false">
    <appender class="ch.qos.logback.core.ConsoleAppender" name="CONSOLE">
        <encoder>
            <pattern>%-5level [%logger{15}] %m%n%ex{3}</pattern>
        </encoder>
    </appender>

    <logger level="${testSqlLogLevel}" name="org.hibernate.SQL"/>
    <logger level="${testSqlLogLevel}" name="org.hibernate.type.descriptor.sql"/>
    <logger level="${testSqlLogLevel}" name="jdbc"/>

  <root level="${testLogLevel}">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>