<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<body>
<div th:fragment="acpContent">
    <h4>OAuth clients</h4>
    <div class="col-md-9">
        <form id="clientSearch" th:action="@{/acp/system/oauth}"
              th:object="${oauthClientSearchForm}"
              method="post">
            <div class="row">
                <div class="col-xs-6 form-group">
                    <label for="displayedName">Client id:</label>
                    <input class="form-control" type="text" id="clientId"
                           th:field="*{clientId}"/>
                    <p class="text-warning" th:errors="*{clientId}">[error]</p>
                </div>
                <div class="col-xs-6 form-group">
                    <label for="displayedName">Displayed name:</label>
                    <input class="form-control" type="text" id="displayedName"
                           th:field="*{displayedName}"/>
                    <p class="text-warning" th:errors="*{displayedName}">[error]</p>
                </div>
            </div>
            <div class="btn-toolbar">
                <button type="submit" class="btn btn-primary">Search</button>
                <a th:href="@{/acp/system/oauth/clients}" class="btn btn-primary btn-success">New
                    client</a>
            </div>
            </br>

            <div th:if="${oauthClientSearchFormSent == true}">
                <div th:if="${#lists.isEmpty(resultPage.getContent())}">
                    <div>No OAuth clients found with given criteria</div>
                </div>
                <table id="resultTable"
                       class="table table-bordered"
                       th:if="${not #lists.isEmpty(resultPage.getContent())}">
                    <h4>Results:</h4>
                    <thead>
                    <tr class="center middle">
                        <th>Client id</th>
                        <th>Displayed name</th>
                        <th>Description</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="client,rowStat : ${resultPage.getContent()}">
                        <td th:text="${client.clientId}">The last name</td>
                        <td th:text="${client.displayedName}">The last name</td>
                        <td th:text="${client.description}">The last name</td>
                        <td>
                            <div class="btn-toolbar">
                                <a th:href="@{/acp/system/oauth/clients(id=${client.clientId})}"
                                   class="btn btn-default btn-xs btn-space">Edit</a>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div th:if="${not #lists.isEmpty(resultPage.getContent())}">
                    <input id="pageNumber" type="hidden" name='page'/>
                    <input type="hidden" name='size' th:value='${resultPage.size}'/>
                    <ul class="pagination">
                        <li th:class="${resultPage.isFirstPage() ? 'disabled' : ''}">
                            <span th:if='${resultPage.firstPage}'>← First</span>
                            <a th:if='${not resultPage.firstPage}'
                               href="javascript:"
                               th:onclick="'document.getElementById(\'pageNumber\').setAttribute(\'value\',\'0\'); document.getElementById(\'clientSearch\').submit();'"
                            >←
                                First</a>
                        </li>
                        <li th:class="${resultPage.isHasPreviousPage() ? '' : 'disabled'}">
                            <span th:if='${not resultPage.hasPreviousPage}'>«</span>
                            <a th:if='${resultPage.hasPreviousPage}'
                               href="javascript:"
                               th:onclick="'document.getElementById(\'pageNumber\').setAttribute(\'value\',\''+ ${resultPage.number-2} + '\'); document.getElementById(\'clientSearch\').submit();'"
                               title='Go to previous page'>«</a>
                        </li>
                        <li th:each='item : ${resultPage.getItems()}'
                            th:class="${item.isCurrent() ? 'active' : ''}">
                            <span th:if='${item.current}' th:text='${item.number}'>1</span>
                            <a th:if='${not item.current}' href="javascript:"
                               th:onclick="'document.getElementById(\'pageNumber\').setAttribute(\'value\',\''+ ${item.paramNumber()} + '\'); document.getElementById(\'clientSearch\').submit();'">
                                <span th:text='${item.number}'>1</span>
                            </a>
                        </li>
                        <li th:class="${resultPage.isHasNextPage() ? '' : 'disabled'}">
                            <span th:if='${not resultPage.hasNextPage}'>»</span>
                            <a th:if='${resultPage.hasNextPage}'
                               href="javascript:"
                               th:onclick="'document.getElementById(\'pageNumber\').setAttribute(\'value\',\''+ ${resultPage.number} + '\'); document.getElementById(\'clientSearch\').submit();'"
                               title='Go to next page'>»</a>
                        </li>
                        <li th:class="${resultPage.isLastPage() ? 'disabled' : ''}">
                            <span th:if='${resultPage.lastPage}'>Last →</span>
                            <a th:if='${not resultPage.lastPage}'
                               href="javascript:"
                               th:onclick="'document.getElementById(\'pageNumber\').setAttribute(\'value\',\''+ ${resultPage.totalPages-1} + '\'); document.getElementById(\'clientSearch\').submit();'"
                            >Last
                                →</a>
                        </li>
                    </ul>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>