<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<body>
<div th:fragment="acpContent">
    <div class="col-md-9">
        <form th:action="@{/acp/general/logging/append/file}" th:object="${appenderForm}"
              method="post">

            <div th:if="${appenderFormSaved == true}"
                 class="alert alert-dismissible alert-success">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <label class="control-label">Settings saved correctly</label>
            </div>

            <div class="form-group">
                <label for="appenderName">File appender name:</label>
                <input type="text" class="form-control" id="appenderName"
                       th:readonly="${not newAppenderState}"
                       th:field="*{name}" aria-describedby="appenderNameHelp">

                <p class="text-warning" th:errors="*{name}">[error]</p>
                <small id="appenderNameHelp" class="form-text text-muted">Appender name (cannot
                    rename after creation)
                </small>
            </div>

            <div class="form-group">
                <label for="currentLogFileName">Current log file name:</label>
                <input type="text" class="form-control" id="currentLogFileName"
                       th:field="*{currentLogFileName}" aria-describedby="currentLogFileNameHelp">

                <p class="text-warning" th:errors="*{currentLogFileName}">[error]</p>
                <small id="currentLogFileNameHelp" class="form-text text-muted">Log file name for
                    latest logs
                </small>
            </div>

            <div class="form-group">
                <label for="rotationFileNamePattern">Rotation file name pattern:</label>
                <input type="text" class="form-control" id="rotationFileNamePattern"
                       th:field="*{rotationFileNamePattern}"
                       aria-describedby="rotationFileNamePatternHelp">

                <p class="text-warning" th:errors="*{rotationFileNamePattern}">[error]</p>
                <small id="rotationFileNamePatternHelp" class="form-text text-muted">Pattern for
                    naming log files
                </small>
            </div>

            <div class="form-group">
                <label for="maxFileSize">Max file size:</label>
                <input type="text" class="form-control" id="maxFileSize"
                       th:field="*{maxFileSize}" aria-describedby="maxFileSizeHelp">

                <p class="text-warning" th:errors="*{maxFileSize}">[error]</p>
                <small id="maxFileSizeHelp" class="form-text text-muted">Max size for single file
                    (in KB, MB or GB)
                </small>
            </div>

            <div class="form-group">
                <label for="maxHistory">Max history:</label>
                <input type="text" class="form-control" id="maxHistory"
                       th:field="*{maxHistory}" aria-describedby="maxHistoryHelp">

                <p class="text-warning" th:errors="*{maxHistory}">[error]</p>
                <small id="maxHistoryHelp" class="form-text text-muted">Max history before removing
                    old files. Unit based on %d parameter in rotation file name pattern
                </small>
            </div>

            <div class="form-group">
                <label for="filter">Filter:</label>
                <select class="form-control" id="filter"
                        th:field="*{filter}"
                        aria-describedby="filterHelp">
                    <option th:each="f : ${filters}" th:value="${f}"
                            th:text="${f}"></option>
                </select>
                <p class="text-warning" th:errors="*{filter}">[error]</p>
                <small id="filterHelp" class="form-text text-muted">Filter for logs handled by this
                    appender
                </small>
            </div>

            <div class="form-group">
                <label for="pattern">Log pattern:</label>
                <input type="text" class="form-control" id="pattern"
                       th:field="*{pattern}" aria-describedby="patternHelp">

                <p class="text-warning" th:errors="*{pattern}">[error]</p>
                <small id="patternHelp" class="form-text text-muted">Log pattern
                </small>
            </div>

            <input type="hidden" th:field="*{addingMode}"/>

            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</div>
</body>
</html>