<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<body>
<div th:fragment="acpContent">
    <div class="col-md-9">
        <form th:action="@{/acp/system/database}" th:object="${databaseSettingsForm}"
              method="post">
            <div th:if="${databaseSettingsFormSaved == true}"
                 class="alert alert-dismissible alert-success">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <label class="control-label">Settings saved correctly</label>
            </div>

            <h3>Common database settings:</h3>

            <div class="form-group">
                <label for="minimumIdleConnections">Minimum amount of idle database
                    connections:</label>
                <input type="text" class="form-control" id="minimumIdleConnections"
                       th:field="*{minimumIdleConnections}"
                       aria-describedby="minimumIdleConnectionsHelp">

                <p class="text-warning" th:errors="*{minimumIdleConnections}">[error]</p>
                <small id="minimumIdleConnectionsHelp" class="form-text text-muted">Number of idle
                    database connections
                </small>
            </div>

            <div class="form-group">
                <label for="maximumPoolSize">Maximum size of database connection pool:</label>
                <input type="text" class="form-control" id="maximumPoolSize"
                       th:field="*{maximumPoolSize}" aria-describedby="maximumPoolSizeHelp">

                <p class="text-warning" th:errors="*{maximumPoolSize}">[error]</p>
                <small id="maximumPoolSizeHelp" class="form-text text-muted">Size of database
                    connections pool
                </small>
            </div>

            <div class="form-group">
                <label for="connectionTimeoutMilliseconds">Connection timeout in
                    milliseconds:</label>
                <input type="text" class="form-control" id="connectionTimeoutMilliseconds"
                       th:field="*{connectionTimeoutMilliseconds}"
                       aria-describedby="connectionTimeOutMillisecondsHelp">

                <p class="text-warning" th:errors="*{connectionTimeoutMilliseconds}">[error]</p>
                <small id="connectionTimeoutMillisecondsHelp" class="form-text text-muted">
                    Connection timeout with database in milliseconds
                </small>
            </div>

            <div class="form-group">
                <label for="connectionMaxLifetimeMilliseconds">Connection maximum lifetime in
                    milliseconds:</label>
                <input type="text" class="form-control" id="connectionMaxLifetimeMilliseconds"
                       th:field="*{connectionMaxLifetimeMilliseconds}"
                       aria-describedby="connectionMaxLifetimeMillisecondsHelp">

                <p class="text-warning" th:errors="*{connectionMaxLifetimeMilliseconds}">[error]</p>
                <small id="connectionMaxLifetimeMillisecondsHelp" class="form-text text-muted">
                    Maximum lifetime of a connection in the pool
                </small>
            </div>

            <div class="form-group">
                <label for="idleTimeoutMilliseconds">Connection idle timeout in
                    milliseconds:</label>
                <input type="text" class="form-control" id="idleTimeoutMilliseconds"
                       th:field="*{idleTimeoutMilliseconds}"
                       aria-describedby="idleTimeoutMillisecondsHelp">

                <p class="text-warning" th:errors="*{idleTimeoutMilliseconds}">[error]</p>
                <small id="idleTimeoutMillisecondsHelp" class="form-text text-muted">
                    Maximum amount of time (in milliseconds) that a connection is allowed to sit
                    idle in the pool
                </small>
            </div>

            <div class="form-group">
                <label for="validationTimeoutMilliseconds">Connection validation timeout in
                    milliseconds:</label>
                <input type="text" class="form-control" id="validationTimeoutMilliseconds"
                       th:field="*{validationTimeoutMilliseconds}"
                       aria-describedby="validationTimeoutMillisecondsHelp">

                <p class="text-warning" th:errors="*{validationTimeoutMilliseconds}">[error]</p>
                <small id="validationTimeoutMillisecondsHelp" class="form-text text-muted">
                    Maximum number of milliseconds that the pool will wait for a connection to be
                    validated as alive
                </small>
            </div>

            <div class="form-group">
                <label for="leakDetectionThreshold">Connection leak detection threshold in
                    milliseconds:</label>
                <input type="text" class="form-control" id="leakDetectionThreshold"
                       th:field="*{leakDetectionThresholdMilliseconds}"
                       aria-describedby="leakDetectionThresholdHelp">

                <p class="text-warning" th:errors="*{leakDetectionThresholdMilliseconds}">
                    [error]</p>
                <small id="leakDetectionThresholdHelp" class="form-text text-muted">
                    Amount of time (in milliseconds) that a connection can be out of the pool before
                    a message is logged indicating a possible connection leak. A value of 0 means
                    leak detection is disabled.
                </small>
            </div>

            <div class="form-group">
                <label for="failAtStartingImmediately">Connection failed behaviour:</label></br>
                <label class="form-check-label">
                    <input type="checkbox" th:field="*{failAtStartingImmediately}"
                           class="form-check-input" id="failAtStartingImmediately">
                    Fail immediately when connection to database failed at startup
                </label>
            </div>

            <div class="form-group">
                <label for="auditEnabled">Database actions auditing:</label></br>
                <label class="form-check-label">
                    <input type="checkbox" th:field="*{auditEnabled}"
                           class="form-check-input" id="auditEnabled">
                    Save every data revision after each transaction to audit tables
                </label>
            </div>

            <div class="form-group">
                <label for="dropDatabaseAtStart">Run with fresh database:</label></br>
                <label class="form-check-label">
                    <input type="checkbox" th:field="*{dropDatabaseAtStart}"
                           class="form-check-input" id="dropDatabaseAtStart">
                    Drop database at startup
                </label>
            </div>

            <h3>H2 managed server settings:</h3>
            <div class="form-group">
                <label for="h2ManagedServerDatabaseFileName">Database file name:</label>
                <input type="text" class="form-control" id="h2ManagedServerDatabaseFileName"
                       th:field="*{h2ManagedServerDatabaseFileName}"
                       aria-describedby="h2ManagedServerDatabaseFileNameHelp">

                <p class="text-warning" th:errors="*{h2ManagedServerDatabaseFileName}">[error]</p>
                <small id="h2ManagedServerDatabaseFileNameHelp" class="form-text text-muted">Name
                    for file with
                    embedded jBB database
                </small>
            </div>

            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</div>
</body>
</html>