<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<body>
<div th:fragment="acpContent">
    <div class="col-md-9">
        <form th:action="@{/acp/general/board}" th:object="${generalBoardForm}" method="post">
            <div th:if="${generalBoardFormSaved == true}"
                 class="alert alert-dismissible alert-success">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <label class="control-label">Settings saved correctly</label>
            </div>

            <div class="form-group">
                <label for="boardName">Board name:</label>
                <input type="text" class="form-control" id="boardName"
                       th:field="*{boardName}" aria-describedby="boardNameHelp">

                <p class="text-warning" th:errors="*{boardName}">[error]</p>
                <small id="boardNameHelp" class="form-text text-muted">Your board name.
                </small>
            </div>

            <div class="form-group">
                <label for="dateFormat">Date format:</label>
                <input type="text" class="form-control" id="dateFormat"
                       th:field="*{dateFormat}" aria-describedby="dateFormatHelp">

                <p class="text-warning" th:errors="*{dateFormat}">[error]</p>
                <small id="dateFormatHelp" class="form-text text-muted">Date format used in
                    application.
                </small>
            </div>

            <div class="form-group">
                <label for="dateFormat">Duration format:</label>
                <input type="text" class="form-control" id="durationFormat"
                       th:field="*{durationFormat}" aria-describedby="durationFormatHelp">

                <p class="text-warning" th:errors="*{durationFormat}">[error]</p>
                <small id="durationFormatHelp" class="form-text text-muted">Duration format used in
                    application.
                </small>
            </div>

            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</div>
</body>
</html>