<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<body>
<div th:fragment="content">
    <div class="row">
        <ul class="nav nav-tabs">
            <li th:each="category : ${acpCategories}"
                th:class="${category.viewName == currentCategory.viewName} ? 'active'"><a
                    th:href="@{/acp/__${category.viewName}__}"
                    th:text="${category.name}">aaaa</a></li>
        </ul>
    </div>
    </br>
    <div class="row">
        <div class="col-md-3">
            <ul>
                <li th:each="subCategory : ${currentCategory.subCategories}">
                    <h5 th:text="${subCategory.name}">test</h5>
                    <ul class="nav nav-tabs nav-stacked">
                        <li role="presentation" th:each="element : ${subCategory.elements}"
                            th:class="${currentElement != null && element.viewName == currentElement.viewName} ? 'active'">
                            <a th:href="@{/acp/__${currentCategory.viewName}__/__${element.viewName}__}"
                               th:text="${element.name}">aaa</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="col-md-9" th:replace="${acpContentViewName} :: acpContent" th:remove="tag">
            Content
        </div>
    </div>
</div>
</body>
</html>