<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<body>
<div th:fragment="content">
    <div class="col-md-9">
        <form th:action="@{/acp/faq}" th:object="${faqForm}">
            <div th:each="userEnrty: ${map}">
                <p th:text="${userEntry.key}">No Id!</p>
                <p th:text="${userEntry.value}">No Name!</p>
            </div>

        </form>
    </div>
</div>
</body>
</html>