<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<body>
<div th:fragment="content">
    <script th:inline="javascript">
        /*<![CDATA[*/

        window.onload = sse();

        function sse() {
            var evtSource = new EventSource("/api/v1/faq/sse-stream");
            evtSource.addEventListener("FaqChanged", function (e) {
                document.getElementById("update-alert").hidden = false;
            }, false);
        }

        /*]]>*/
    </script>
    <!-- Example row of columns -->
    <div class="row-fluid">
        <div class="span4">
            <div id="update-alert" hidden="true"
                 class="alert alert-dismissible alert-success">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <label class="control-label">FAQ has been updated. Please refresh a page!</label>
            </div>

            <h2>FAQ</h2>

            <div th:each='faqCategory : ${faqCategories}'>
                <h3 th:text="${faqCategory.name}"></h3>
                <div th:each='faqEntry : ${faqCategory.entries}'>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title" th:text="${faqEntry.question}">Panel title</h4>
                        </div>
                        <div class="panel-body" th:text="${faqEntry.answer}">
                            Panel content
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>