<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<body>
<nav th:replace="navbar :: navbar(${contentViewName})">Navbar</nav>
<div th:fragment="content">
    <div class="container">
        <h3>Exception Details</h3>

        <p>
        <div th:unless="${message == null}">
            <span style="font-weight: bold">Message: </span><span th:text="${message}"/>
        </div>
        <div th:unless="${requestURL == null}">
            <span style="font-weight: bold">URL: </span><span th:text="${requestURL}"/>
        </div>
        <!--div th:unless="${exception == null}">
            <span style="font-weight: bold">Exception: </span><span th:text="${exception}"/>
        </div-->

        </p>
    </div>
</div>
</body>
</html>


