<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<body>
<div th:fragment="content">
    <!-- Example row of columns -->
    <div class="row-fluid">
        <div class="span4">
            <h2>Sign up</h2>

            <div th:if="${registrationCompleted == true}">
                <p>Registration completed!</p>
            </div>

            <div th:if="${registrationCompleted == false}" class="container bs-docs-container">
                <div class="row row-centered">
                    <div class="bs-docs-section col-lg-6 col-centered">

                        <form name="f" th:action="@{/register}" th:object="${registerForm}"
                              method="post" class="form-horizontal">
                            <div th:if="${#fields.hasGlobalErrors()}"
                                 class="has-error col-lg-offset-3 alert alert-dismissible alert-danger">
                                <button type="button" class="close" data-dismiss="alert">×</button>
                                <label class="control-label"
                                       th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</label>
                            </div>

                            <fieldset>
                                <div class="form-group">
                                    <label for="login" class="col-lg-3 control-label"
                                           th:text="Login">[First Name]</label>

                                    <div class="col-lg-9">
                                        <input type="text" th:field="*{login}"
                                               class="form-control"/>
                                        <label class="control-label"
                                               th:errors="*{login}">[error]</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="displayedName" class="col-lg-3 control-label">Displayed
                                        name</label>

                                    <div class="col-lg-9">
                                        <input type="text" th:field="*{displayedName}"
                                               class="form-control"/>
                                        <label class="control-label"
                                               th:errors="*{displayedName}">[error]</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="email" class="col-lg-3 control-label"
                                           th:text="E-mail">[First Name]</label>

                                    <div class="col-lg-9">
                                        <input type="text" th:field="*{email}"
                                               class="form-control"/>
                                        <label class="control-label"
                                               th:errors="*{email}">[error]</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="password" class="col-lg-3 control-label"
                                           th:text="Password">[First Name]</label>

                                    <div class="col-lg-9">
                                        <input type="password" th:field="*{password}"
                                               class="form-control"/>
                                        <label class="control-label"
                                               th:errors="*{password}">[error]</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="passwordAgain" class="col-lg-3 control-label"
                                           th:text="'Password again'">[First Name]</label>

                                    <div class="col-lg-9">
                                        <input type="password" th:field="*{passwordAgain}"
                                               class="form-control"/>
                                        <label class="control-label"
                                               th:errors="*{passwordAgain}">[error]</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-9 col-lg-offset-3">
                                        <button type="submit" class="btn btn-primary"
                                                th:text="Send">[Submit]
                                        </button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>